{{ define "email.body" }}
{{ range .Alerts -}}
- {{ .Annotations.description }}
{{ end }}
{{ end }}
{{ define "email.subject" }}
 "You have {{ .Alerts.Firing | len }} critical firing alerts"
{{ end }}
